.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: relative; /* Ensure positioning for the toggle icon */
  transition: background-color 0.3s ease, padding 0.3s ease; /* Smooth transition */
  z-index: 1000; /* Ensure the navbar is above other content */
}

.navbar.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
  padding: 10px 20px; /* Adjust padding as needed */
}

.navbar svg {
  width: 50px;
  height: auto;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.navbar ul li {
  position: relative; /* Ensure the underline is positioned correctly */
  margin: 0 15px;
  cursor: pointer;
}

.navbar ul li p {
  margin: 0;
  padding: 0;
}

.navbar ul li:hover {
  color: #f5ec9b;
}

.navbar ul li .anchor-link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.navbar ul li img {
  position: absolute;
  bottom: -5px; /* Adjust this value based on your design */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the height based on your design */
}

.navbar .nav-button {
  padding: 10px 20px;
  background-color: #f5ec9b;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar .nav-button:hover {
  background-color: #905e26;
  color: #fff;
}

.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute; /* Position the toggle icon in the top right */
  top: 15px; /* Adjust based on your design */
  right: 20px; /* Adjust based on your design */
  z-index: 1001; /* Ensure the icon is above other content */
}

.nav-menu-close {
  display: none;
  cursor: pointer;
  z-index: 1001; /* Ensure the close button is above other content */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
    max-height: 0; /* Initially hidden */
  }

  .nav-menu.open {
    display: flex;
    max-height: 300px; /* Adjust based on content height */
  }

  .nav-menu-close {
    display: block;
    align-self: flex-end;
    margin: 10px;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar .nav-button {
    margin-top: 10px;
  }
}
